*{
    top: 0;
    margin: 0;
}
.mainContainer{
    background-color: #a62d3e; height: 100vh;
}
#container{
    display: flex;
}
.sectionContainer1{
    background-color: white; border: 1px red solid; width: 50%; padding-top: 55px;
}
.sectionContainer1 div{
    text-align: center;
}
.sectionContainer1 img{
    width: 100%;
}
.sectionContainer2{
    width: 50%; border: 1px red solid; padding-top: 50px;
}
.sectionContainer2 img{
    height: 150px; display: block; margin-left: auto; margin-right: auto;
}
.sectionContainer2 div{
    display: flex; justify-content: center; gap: 20px; margin-left: -150px; margin-top: 50px;
}
.sectionContainer2 section{
    display: flex; justify-content: flex-end; gap: 5px;
}
label{
    font-size: 1.5em;
}
input{
    font-size: 2.2em;
    outline: none; border: 0; background-color: transparent; border-bottom: 1px solid white;
}
button{
    background-color: #f8da54;
}

@media all and (min-width:320px) and (max-width:425px){
    .sectionContainer1{
        visibility: hidden;
    }
    .sectionContainer2{
        width: 10%; border: 0px red solid; padding-top: 50px;
        margin-left: -100px
    }
    .sectionContainer2 img{
        height: 150px; display: block; margin-left: auto; margin-right: auto;
    }
    .sectionContainer2 div{
        display: grid; justify-content: space-around; gap: 20px; margin-left: 80px; margin-top: 50px;
    }
    .sectionContainer2 section{
        display: flex; justify-content: flex-end; gap: 5px;
    }
    input{
    font-size: 1.5em;
    }
}