section{
    background-color: #a62d3e; height: 100vh;
}
center{
    padding-top: 55px;
}
img{
    height: 150px;
}
.container{
    height: 500px; max-width: 400px; background-color: white; gap: 20px;
}
label{
    margin-top: 30px;
    margin-left: -230px;
}
button{
    background-color: #f8da54;
    border: 0;
}
input{
    font-size: 1.5em; width: 30%;
    outline: none; border: 0; background-color: transparent; border-bottom: 1px solid blue;
}
#infopage {
    min-height: 100vh;
    background-color: rgb(104, 11, 11);
    color: white ;
}